
<nav class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link ">
                        <span>
                            Главная
                        </span>
                    </a>
                </li>
                            <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link ">
                        <span>
                            Категория
                        </span>
                    </a>
                </li>
                            <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link active">
                        <span>
                            Продукт
                        </span>
                    </a>
                </li>
                    </ol>
    </div>
</nav>