<div id="desktop-menu" class="desktop-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a href="#" class="desktop-menu__main-link">
                    <svg class="desktop-menu__main-link-icon">
                        <use xlink:href="/images/icons.svg#building-house"></use>
                    </svg>
                    <span class="desktop-menu__main-link-title">
                        Строительство домов
                    </span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a href="#" class="desktop-menu__main-link">
                    <svg class="desktop-menu__main-link-icon">
                        <use xlink:href="/images/icons.svg#building-house"></use>
                    </svg>
                    <span class="desktop-menu__main-link-title">
                        Строительство бань
                    </span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="#" class="desktop-menu__link desktop-menu__link--hr">
                    Услуги
                </a>
                <ul class="desktop-menu__list">
                    <li>
                        <a href="" class="desktop-menu__sublink">
                            Проектирование домов из бревна
                        </a>
                    </li>
                    <li>
                        <a href="" class="desktop-menu__sublink">
                            Проектирование домов из бревна
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="#" class="desktop-menu__link desktop-menu__link--hr">
                    Услуги
                </a>
                <ul class="desktop-menu__list">
                    <li>
                        <a href="" class="desktop-menu__sublink">
                            Проектирование домов из бревна
                        </a>
                    </li>
                    <li>
                        <a href="" class="desktop-menu__sublink">
                            Проектирование домов из бревна
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="#" class="desktop-menu__link">
                    Наши работы
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="desktop-menu__contact">
                    <div class="desktop-menu__contact-icon-container">
                        <svg class="desktop-menu__contact-icon">
                            <use xlink:href="/images/icons.svg#phone"></use>
                        </svg>
                    </div>
                    <div class="desktop-menu__contact-content">
                        <div class="desktop-menu__contact-title">
                            Телефон
                        </div>
                        <a href="#" class="desktop-menu__contact-description">
                            +7 (343)-202-00-78
                        </a>
                    </div>
                </div>
                <div class="desktop-menu__contact">
                    <div class="desktop-menu__contact-icon-container">
                        <svg class="desktop-menu__contact-icon">
                            <use xlink:href="/images/icons.svg#place"></use>
                        </svg>
                    </div>
                    <div class="desktop-menu__contact-content">
                        <div class="desktop-menu__contact-title">
                            Адрес
                        </div>
                        <div class="desktop-menu__contact-description">
                            Екатеринбург, ул.Данилы Зверева, д.23/1
                        </div>
                    </div>
                </div>
                <div class="desktop-menu__contact">
                    <div class="desktop-menu__contact-icon-container">
                        <svg class="desktop-menu__contact-icon">
                            <use xlink:href="/images/icons.svg#clock"></use>
                        </svg>
                    </div>
                    <div class="desktop-menu__contact-content">
                        <div class="desktop-menu__contact-title">
                            Режим работы
                        </div>
                        <div class="desktop-menu__contact-description">
                            ПН–ВС: 9:00–19:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shadow-for-menu" role="button" tabindex="0" aria-label="Закрыть" class="shadow-for-menu"></div>