<footer class="footer">
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <a href="">
                        <img src="/test/images/logotype.svg"
                             alt="Россруб: Строительство домов и бань из дерева"
                             width="235"
                             height="55">
                    </a>
                    <div class="footer__contact-list">
                        <div class="footer__contact">
                            <div class="footer__contact-icon-container">
                                <svg class="footer__contact-icon">
                                    <use xlink:href="/test/images/icons.svg#place"></use>
                                </svg>
                            </div>
                            <span class="footer__contact-description">
                                        Екатеринбург,
                            ул. Данилы Зверева 23/1
                            </span>
                        </div>
                        <div class="footer__contact">
                            <div class="footer__contact-icon-container">
                                <svg class="footer__contact-icon">
                                    <use xlink:href="/test/images/icons.svg#clock"></use>
                                </svg>
                            </div>
                            <span class="footer__contact-description">
                            Работаем с 9:00 до 22:00 Без выходных 
                        </span>
                        </div>
                        <hr class="horizontal dashed">
                        <div class="footer__contact">
                            <div class="footer__contact-icon-container">
                                <svg class="footer__contact-icon">
                                    <use xlink:href="/test/images/icons.svg#phone"></use>
                                </svg>
                            </div>
                            <a href="#" class="footer__contact-link">
                                +7 (343)-202-00-78
                            </a>
                        </div>
                        <div class="footer__contact">
                            <div class="footer__contact-icon-container">
                                <svg class="footer__contact-icon">
                                    <use xlink:href="/test/images/icons.svg#mail"></use>
                                </svg>
                            </div>
                            <a href="#" class="footer__contact-link">
                                uralsrub5@gmail.com
                            </a>
                        </div>
                        <hr class="horizontal dashed">
                        <div class="footer__organization">
                            <p>
                                ИП Мирзаянов Максим Фанилович
                            </p>
                            <p>
                                ИНН: 667351403006
                            </p>
                            <p>
                                ОГРН: 317665800197731
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="footer__category">
                                <a href="" class="footer__category-link">
                                    Цены
                                </a>
                                <ul class="footer__category-list">
                                    <li>
                                        <a href="" class="footer__category-sublink">
                                            Цены на срубы домов
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__category">
                                <a href="" class="footer__category-link">
                                    Цены
                                </a>
                                <ul class="footer__category-list">
                                    <li>
                                        <a href="" class="footer__category-sublink">
                                            Цены на срубы домов
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="footer__category">
                                <a href="" class="footer__category-link">
                                    Цены
                                </a>
                                <ul class="footer__category-list">
                                    <li>
                                        <a href="" class="footer__category-sublink">
                                            Цены на срубы домов
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="footer__category">
                                <a href="" class="footer__category-link">
                                    Цены
                                </a>
                                <ul class="footer__category-list">
                                    <li>
                                        <a href="" class="footer__category-sublink">
                                            Цены на срубы домов
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="container">
            <div class="footer-secondary__row">
                <p>
                    2024 Все права защищены
                </p>
                <a href="" class="footer-secondary__link">
                    Политика обработки персональных данных
                </a>
                <div>
                    Сделано в
                    <a href="" class="footer-secondary__link footer-secondary__link--bold">
                        Маркс & Энгельс
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>