<div class="header header--secondary">
    <div class="container">
        <div class="header-location">
            <span class="header-location__label">
                Ваш город:
            </span>
            <button data-fancybox data-src="#modal-selected-city" class="header-location__action">
                Екатеринбург
            </button>
        </div>
        <ul class="header-business-info">
            <li class="header-business-info__item">
                <span class="header-business-info__item-icon-container">
                    <svg class="header-business-info__item-icon">
                        <use xlink:href="/images/icons.svg#place"></use>
                    </svg>
                </span>
                <span class="header-business-info__item-label">
                     Екатеринбург, ул. Данилы Зверева 23/1
                </span>
            </li>
            <li class="header-business-info__item">
                <span class="header-business-info__item-icon-container">
                    <svg class="header-business-info__item-icon">
                        <use xlink:href="/images/icons.svg#mail"></use>
                    </svg>
                </span>
                <span class="header-business-info__item-label">
                     uralsrub5@gmail.com
                </span>
            </li>
            <li class="header-business-info__item">
                <span class="header-business-info__item-icon-container">
                    <svg class="header-business-info__item-icon">
                        <use xlink:href="/images/icons.svg#clock"></use>
                    </svg>
                </span>
                <span class="header-business-info__item-label">
                     Работаем: ПН-ВС с 9:00 до 19:00
                </span>
            </li>
        </ul>
    </div>
</div>

<header id="main-header" class="header header--main">
    <div class="container">
        <a href="/" class="header__logotype">
            <img src="/images/logotype.svg" alt="Россруб: Строительство домов и бань из дерева" width="235" height="55">
        </a>

        <div class="header__menu">
            <div class="header__desktop-burger">
                <button id="desktop-menu-button" class="button button--primary header__desktop-menu"
                        style="padding: 12px 12px">
                    <span class="burger">
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                      </span>
                    <span>
                    Меню
                </span>
                </button>

            </div>
            <div class="header__search"></div>
            <a href="" class="header__desktop-phone-link">
                <span class="header__desktop-phone-link-row">
                    <span class="header__desktop-phone-link-icon-container">
                        <svg class="header__desktop-phone-link-icon">
                            <use xlink:href="/images/icons.svg#phone"></use>
                        </svg>
                    </span>
                    <span class="header__desktop-phone-link-number">
                        +7 912 683-53-64
                    </span>
                </span>
                <span class="header__desktop-phone-link-description">
                    Заказать звонок
                </span>
            </a>

            <button data-fancybox data-src="#modal-feedback"
                    class="button button--accent button--outline button--medium">
                Рассчитать стоимость
            </button>
        </div>

        <div class="header__mobile">
            <a href="" class="header__mobile-phone-link">
                <svg class="">
                    <use xlink:href="/images/icons.svg#phone"></use>
                </svg>
            </a>
            <hr class="vertical" style="height: 20px; margin: 0 20px">
            <button id="mobile-menu-button" class="header__mobile-menu-button">
                <span class="burger">
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                        <span class="burger__line"></span>
                      </span>
                <span>
            </button>
        </div>
    </div>
</header>