
<div id="mobile-menu" class="mobile-menu">
    <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__category-dropdown">
                <a href="#" class="mobile-menu__category-dropdown-trigger">
                    Продукция
                </a>
                <ul>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Блок-контейнеры
                            </a>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Сантехнические контейнеры
                            </a>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Бытовки
                            </a>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Торговые блок-контейнеры
                            </a>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </li>
                                            <li class="mobile-menu__subcategory-dropdown">
                            <a href="#" class="mobile-menu__subcategory-dropdown-trigger">
                                Благоустройство
                            </a>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </li>
                                    </ul>
            </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        О компании
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Услуги
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Наши работы
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Доставка и оплата
                    </a>
                </li>
                            <li>
                    <a href="#" class="mobile-menu__main-link">
                        Контакты
                    </a>
                </li>
                    </ul>
        <div class="mobile-menu__footer">
            <a href="" class="mobile-menu__footer-link">
                +7 912 683-53-64
            </a>
            <button class="button button--medium button--primary button--outline">
                Заказать звонок
            </button>
            <button class="button button--medium button--primary button--outline">
                Рассчитать стоимость
            </button>
            <div class="mobile-menu__social-list">
                <button class="button button--small button--primary button--icon button--outline">
                    <svg>
                        <use xlink:href="/test/images/icons.svg#whatsapp"></use>
                    </svg>
                </button>
                <button class="button button--small button--primary button--icon button--outline">
                    <svg>
                        <use xlink:href="/test/images/icons.svg#play"></use>
                    </svg>
                </button>
                <button class="button button--small button--primary button--icon button--outline">
                    <svg>
                        <use xlink:href="/test/images/icons.svg#mail-fill"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>