<div class="component-portfolio">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#" class="component-portfolio__card">
                        <div class="component-portfolio__card-video">
                            <svg class="">
                                <use xlink:href="/images/icons.svg#video"></use>
                            </svg>
                        </div>
                        <div class="component-portfolio__card-square">
                            532 м2
                        </div>
                        <div class="component-portfolio__card-image">
                            <img src="/images/product.png" alt="" width="320" height="196" loading="lazy">
                        </div>
                        <div class="component-portfolio__card-content">
                            <div class="component-portfolio__card-title">
                                Дом 200 м2 в п. Солнечный
                            </div>
                            <div class="component-portfolio__card-options">
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#house"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#room"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                            </div>
                            <hr class="horizontal" style="margin: 16px 0;">
                            <div class="component-portfolio__card-footer">
                                <div class="component-portfolio__card-price">
                                    от <span>5 285 000₽</span>
                                </div>
                                <div class="button button--primary button--outline button--small">
                                    Подробнее
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#" class="component-portfolio__card">
                        <div class="component-portfolio__card-video">
                            <svg class="">
                                <use xlink:href="/images/icons.svg#video"></use>
                            </svg>
                        </div>
                        <div class="component-portfolio__card-square">
                            532 м2
                        </div>
                        <div class="component-portfolio__card-image">
                            <img src="/images/product.png" alt="" width="320" height="196" loading="lazy">
                        </div>
                        <div class="component-portfolio__card-content">
                            <div class="component-portfolio__card-title">
                                Дом 200 м2 в п. Солнечный
                            </div>
                            <div class="component-portfolio__card-options">
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#house"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#room"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                            </div>
                            <hr class="horizontal" style="margin: 16px 0;">
                            <div class="component-portfolio__card-footer">
                                <div class="component-portfolio__card-price">
                                    от <span>5 285 000₽</span>
                                </div>
                                <div class="button button--primary button--outline button--small">
                                    Подробнее
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#" class="component-portfolio__card">
                        <div class="component-portfolio__card-video">
                            <svg class="">
                                <use xlink:href="/images/icons.svg#video"></use>
                            </svg>
                        </div>
                        <div class="component-portfolio__card-square">
                            532 м2
                        </div>
                        <div class="component-portfolio__card-image">
                            <img src="/images/product.png" alt="" width="320" height="196" loading="lazy">
                        </div>
                        <div class="component-portfolio__card-content">
                            <div class="component-portfolio__card-title">
                                Дом 200 м2 в п. Солнечный
                            </div>
                            <div class="component-portfolio__card-options">
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#house"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#room"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                            </div>
                            <hr class="horizontal" style="margin: 16px 0;">
                            <div class="component-portfolio__card-footer">
                                <div class="component-portfolio__card-price">
                                    от <span>5 285 000₽</span>
                                </div>
                                <div class="button button--primary button--outline button--small">
                                    Подробнее
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#" class="component-portfolio__card">
                        <div class="component-portfolio__card-video">
                            <svg class="">
                                <use xlink:href="/images/icons.svg#video"></use>
                            </svg>
                        </div>
                        <div class="component-portfolio__card-square">
                            532 м2
                        </div>
                        <div class="component-portfolio__card-image">
                            <img src="/images/product.png" alt="" width="320" height="196" loading="lazy">
                        </div>
                        <div class="component-portfolio__card-content">
                            <div class="component-portfolio__card-title">
                                Дом 200 м2 в п. Солнечный
                            </div>
                            <div class="component-portfolio__card-options">
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#house"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                                <div class="component-portfolio__card-option">
                                    <svg class="">
                                        <use xlink:href="/images/icons.svg#room"></use>
                                    </svg>
                                    <span>
                                    Этажей: 1
                                </span>
                                </div>
                            </div>
                            <hr class="horizontal" style="margin: 16px 0;">
                            <div class="component-portfolio__card-footer">
                                <div class="component-portfolio__card-price">
                                    от <span>5 285 000₽</span>
                                </div>
                                <div class="button button--primary button--outline button--small">
                                    Подробнее
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
    </div>
</div>