<div class="component-services-list">
    <div class="container">
        <h2 class="h2">
            Наши услуги
        </h2>
        <p class="subtitle">
            Занимаемся строительством деревянных домов и бань из бревна “под ключ” в Свердловской области
        </p>
        <div class="row component-services-list__cards">
            <div class="col-xs-12 col-md-6">
                <div class="component-services-list__card component-services-list__card--blue">
                    <img src="/test/images/services-list-1.png" width="300" height="250" loading="lazy" alt=""
                         class="component-services-list__card-background">
                    <div class="component-services-list__card-content">
                        <div class="component-services-list__card-title">
                            Строительство <a href=""
                                    class="component-services-list__card-title component-services-list__card-title--accent">домов</a>
                            и
                            <a href="#" class="component-services-list__card-title component-services-list__card-title--accent">
                                бань</a> из бревна
                        </div>
                        <ul class="component-services-list__card-list">
                            <li><a href="">Проектирование домов из бревна</a></li>
                            <li><a href="">Монтаж фундамента</a></li>
                            <li><a href="">Кровельные работы</a></li>
                            <li><a href="">Покраска деревянного дома</a></li>
                            <li><a href="">Отделочные работы</a></li>
                            <li><a href="">Электромонтажные работы</a></li>
                            <li><a href="">Монтаж водосточной системы</a></li>
                            <li><a href="">Ремонт и обслуживание кровли</a></li>
                        </ul>
                    </div>
                </div>
                <div class="component-services-list__card component-services-list__card--green">
                    <img src="/test/images/services-list-2.png" width="162" height="124" loading="lazy" alt=""
                         class="component-services-list__card-background">
                    <div class="component-services-list__card-content">
                        <div class="component-services-list__card-title">
                            Каталог готовых проектов
                        </div>
                        <ul class="component-services-list__card-list">
                            <li><a href="">Готовые проекты домов</a></li>
                            <li><a href="">Готовые проекты бань</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="component-services-list__card component-services-list__card--orange">
                    <img src="/test/images/services-list-3.png" width="500" height="290" loading="lazy" alt=""
                         class="component-services-list__card-background">
                    <div class="component-services-list__card-content">
                        <div class="component-services-list__card-title">
                            Услуги для домов и бань
                        </div>
                        <ul class="component-services-list__card-list">
                            <li><a href="">Проектирование домов из бревна</a></li>
                            <li><a href="">Конопатка сруба в Екатеринбурге</a></li>
                            <li><a href="">Покраска деревянного дома в Екатеринбурге</a></li>
                            <li><a href="">Изготовление и монтаж лестниц</a></li>
                            <li><a href="">Ремонт и обслуживание кровли</a></li>
                            <li><a href="">Монтаж водосточной системы</a></li>
                            <li><a href="">Электромонтажные работы</a></li>
                            <li><a href="">Монтаж фундамента</a></li>
                            <li><a href="">Отделочные работы</a></li>
                            <li><a href="">Кровельные работы</a></li>
                            <li><a href="">Постройка беседок</a></li>
                            <li><a href="">Шлифовка сруба</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>