<div class="component-benefits">
    <div class="container">
        <h2 class="h2">
            Преимущества компании РосСруб
        </h2>
        <p class="subtitle">
            Наша задача – это создание комфортного и экологичного загородного жилья.
        </p>
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="component-benefits__card">
                    <img src="/test/images/benefits-1.svg" width="89" height="90" loading="lazy" alt=""
                         class="component-benefits__card-image">
                    <div class="component-benefits__card-description">
                        <span>Бесплатный сервис</span> по поддержке сданного объекта
                        в <span>первые 2 года</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="component-benefits__card">
                    <img src="/test/images/benefits-2.svg" width="89" height="90" loading="lazy" alt=""
                         class="component-benefits__card-image">
                    <div class="component-benefits__card-description">
                        <span>Экономим до 20% бюджета:</span> оптовые цены от поставщиков и избежание типовых ошибок
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="component-benefits__card">
                    <img src="/test/images/benefits-3.svg" width="89" height="90" loading="lazy" alt=""
                         class="component-benefits__card-image">
                    <div class="component-benefits__card-description">
                        У нас в команде <span>профессиональные рубщики</span> со стажем более 30 лет
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="component-benefits__card">
                    <img src="/test/images/benefits-4.svg" width="89" height="90" loading="lazy" alt=""
                         class="component-benefits__card-image">
                    <div class="component-benefits__card-description">
                        <span>Бесплатно устраняем дефекты,</span> возникшие по нашей вине, весь срок эксплуатации
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>