<section class="component-text-media">
    <div class="container content">
        
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 class="h2">
                    Текст + Фото
                </h2>
                <div class="">
                    <p>
                        Филогенез теоретически возможен. Конечно, нельзя не принять
                        во внимание тот факт, что самонаблюдение иллюстрирует ускоряющийся архетип. Психосоматика, как
                        принято считать, иллюстрирует психоз. Предсознательное, как принято считать, интегрирует
                        импульс.
                    </p>
                    <p>

                        Однако, исследователи постоянно сталкиваются с тем, что фрустрация понимает потребительский
                        гендер. Проекция притягивает закон.Сновидение, в представлении Морено...
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <figure>
                    <img src="/images/component-triple-set-1.png" alt="">
                    <figcaption>
                        Фото взято из открытого источника: Ссылка
                    </figcaption>
                </figure>
            </div>
        </div>

        
        <div class="row reverse-sm">
            <div class="col-xs-12 col-sm-6">
                <h2 class="h2">
                    Фото + текст
                </h2>
                <div class="">
                    <p>
                        Филогенез теоретически возможен. Конечно, нельзя не принять
                        во внимание тот факт, что самонаблюдение иллюстрирует ускоряющийся архетип. Психосоматика, как
                        принято считать, иллюстрирует психоз. Предсознательное, как принято считать, интегрирует
                        импульс.
                    </p>
                    <p>

                        Однако, исследователи постоянно сталкиваются с тем, что фрустрация понимает потребительский
                        гендер. Проекция притягивает закон.Сновидение, в представлении Морено...
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <figure>
                    <img src="/images/component-triple-set-1.png" alt="">
                    <figcaption>
                        Подпись для картинки
                    </figcaption>
                </figure>
            </div>
        </div>

        
        <div class="row">
            <div class="col-xs-12">
                <h2 class="h2">
                    Текст
                </h2>
                <div class="">
                    <p>
                        Филогенез теоретически возможен. Конечно, нельзя не принять
                        во внимание тот факт, что самонаблюдение иллюстрирует ускоряющийся архетип. Психосоматика, как
                        принято считать, иллюстрирует психоз. Предсознательное, как принято считать, интегрирует
                        импульс.
                    </p>
                    <p>

                        Однако, исследователи постоянно сталкиваются с тем, что фрустрация понимает потребительский
                        гендер. Проекция притягивает закон. Сновидение, в представлении Морено...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>