

<div class="component-project-categories">
    <div class="container">
        <div class="row" data-row-hover>
            <div class="col-xs-12 col-sm-6">
                <a href="#" class="component-project-categories__card component-project-categories__card--blue">
                    <img src="/test/images/project-categories-1.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты бань из бревна
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <a href="#" class="component-project-categories__card component-project-categories__card--green">
                    <img src="/test/images/project-categories-2.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты домов из бревна
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="component-project-categories__card component-project-categories__card--blue">
                    <img src="/test/images/project-categories-1.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты бань из бревна
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="component-project-categories__card component-project-categories__card--orange">
                    <img src="/test/images/project-categories-2.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты домов из бревна
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#" class="component-project-categories__card component-project-categories__card--green">
                    <img src="/test/images/project-categories-2.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты домов из бревна
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#"
                   class="component-project-categories__card component-project-categories__card--red component-project-categories__card--active">
                    <img src="/test/images/project-categories-1.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты бань из бревна
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="component-project-categories__card component-project-categories__card--orange">
                    <img src="/test/images/project-categories-2.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты домов из бревна
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="#" class="component-project-categories__card component-project-categories__card--green">
                    <img src="/test/images/project-categories-2.png" width="284" height="122" loading="lazy" alt=""
                         class="component-project-categories__card-background">
                    <div class="component-project-categories__card-title">
                        Проекты домов из бревна
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>