<div class="component-faq">
    <div class="container">
        <h2 class="h2">
            FAQ — ответы на вопросы
        </h2>
        <p class="content">
            Тут вы сможете узнать ответы, на самые часто задаваемые вопросы
        </p>
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs">
                <div class="row">
                                            <div class="col-xs-12">
                            <div data-accordion class="component-faq__card">
                                <button data-accordion-button class="component-faq__card-header">
                                    <span>
                                        Пример вопроса 1
                                    </span>
                                    <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="/test/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div data-accordion-body class="component-faq__card-body"
                                     style="transition-duration: 300ms; overflow: hidden;">
                                    <hr class="horizontal" style="margin: 12px 0;">
                                    <div class="component-faq__card-content">
                                        Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                        Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                        хамбакер.
                                        Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                        Контрапункт
                                        контрастных фактур неизменяем.
                                    </div>
                                </div>
                            </div>
                        </div>
                                            <div class="col-xs-12">
                            <div data-accordion class="component-faq__card">
                                <button data-accordion-button class="component-faq__card-header">
                                    <span>
                                        Пример вопроса 2
                                    </span>
                                    <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="/test/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div data-accordion-body class="component-faq__card-body"
                                     style="transition-duration: 300ms; overflow: hidden;">
                                    <hr class="horizontal" style="margin: 12px 0;">
                                    <div class="component-faq__card-content">
                                        Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                        Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                        хамбакер.
                                        Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                        Контрапункт
                                        контрастных фактур неизменяем.
                                    </div>
                                </div>
                            </div>
                        </div>
                                            <div class="col-xs-12">
                            <div data-accordion class="component-faq__card">
                                <button data-accordion-button class="component-faq__card-header">
                                    <span>
                                        Пример вопроса 3
                                    </span>
                                    <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="/test/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div data-accordion-body class="component-faq__card-body"
                                     style="transition-duration: 300ms; overflow: hidden;">
                                    <hr class="horizontal" style="margin: 12px 0;">
                                    <div class="component-faq__card-content">
                                        Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                        Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                        хамбакер.
                                        Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                        Контрапункт
                                        контрастных фактур неизменяем.
                                    </div>
                                </div>
                            </div>
                        </div>
                                            <div class="col-xs-12">
                            <div data-accordion class="component-faq__card">
                                <button data-accordion-button class="component-faq__card-header">
                                    <span>
                                        Пример вопроса 4
                                    </span>
                                    <span class="component-faq__card-icon-container">
                                        <svg class="component-faq__card-icon">
                                            <use xlink:href="/test/images/icons.svg#plus"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div data-accordion-body class="component-faq__card-body"
                                     style="transition-duration: 300ms; overflow: hidden;">
                                    <hr class="horizontal" style="margin: 12px 0;">
                                    <div class="component-faq__card-content">
                                        Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                                        Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает
                                        хамбакер.
                                        Open-air, на первый взгляд, синхронно имитирует деструктивный полиряд.
                                        Контрапункт
                                        контрастных фактур неизменяем.
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>
            </div>
            <div class="col-xs-3 hidden-xs visible-md">
                <div class="component-faq__worker">
                    <img src="/test/images/worker.png" alt="" width="378" height="605" loading="lazy"
                         class="component-faq__worker-background">
                    <button class="button button--primary button--medium">
                        Задать вопрос
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>