<div class="component-services-banners">
    <div class="container">
        <div class="component-services-banners__list">
                            <div class="component-services-banners__card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <img src="/images/component-triple-set-1.png" alt="" loading="lazy" width="364"
                                 height="233" class="component-services-banners__card-image">
                        </div>
                        <div class="col-xs">
                            <div class="component-services-banners__card-content">
                                <div class="component-services-banners__card-title">
                                    Цена на одноэтажные срубы домов
                                </div>
                                <div class="component-services-banners__card-description">
                                    Предлагаем Вашему вниманию расценки на срубы домов с мансардой и пятистенком на
                                    первом этаже. Мансардный этаж позволяет сэкономить на строительных материалах, а
                                    пятистенок - органично разделить пространство в доме.
                                </div>
                                <div class="component-services-banners__card-actions">
                                    <div class="component-services-banners__card-price">
                                        от <span>5 285 000₽</span>
                                    </div>
                                    <a href="" class="button button--primary button--medium">
                                        Узнать подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="component-services-banners__card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <img src="/images/component-triple-set-1.png" alt="" loading="lazy" width="364"
                                 height="233" class="component-services-banners__card-image">
                        </div>
                        <div class="col-xs">
                            <div class="component-services-banners__card-content">
                                <div class="component-services-banners__card-title">
                                    Цена на одноэтажные срубы домов
                                </div>
                                <div class="component-services-banners__card-description">
                                    Предлагаем Вашему вниманию расценки на срубы домов с мансардой и пятистенком на
                                    первом этаже. Мансардный этаж позволяет сэкономить на строительных материалах, а
                                    пятистенок - органично разделить пространство в доме.
                                </div>
                                <div class="component-services-banners__card-actions">
                                    <div class="component-services-banners__card-price">
                                        от <span>5 285 000₽</span>
                                    </div>
                                    <a href="" class="button button--primary button--medium">
                                        Узнать подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="component-services-banners__card">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <img src="/images/component-triple-set-1.png" alt="" loading="lazy" width="364"
                                 height="233" class="component-services-banners__card-image">
                        </div>
                        <div class="col-xs">
                            <div class="component-services-banners__card-content">
                                <div class="component-services-banners__card-title">
                                    Цена на одноэтажные срубы домов
                                </div>
                                <div class="component-services-banners__card-description">
                                    Предлагаем Вашему вниманию расценки на срубы домов с мансардой и пятистенком на
                                    первом этаже. Мансардный этаж позволяет сэкономить на строительных материалах, а
                                    пятистенок - органично разделить пространство в доме.
                                </div>
                                <div class="component-services-banners__card-actions">
                                    <div class="component-services-banners__card-price">
                                        от <span>5 285 000₽</span>
                                    </div>
                                    <a href="" class="button button--primary button--medium">
                                        Узнать подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</div>