<div class="component-triple-set">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-md-4">
                    <div class="component-triple-set__card">
                        <img src="/test/images/component-triple-set-1.png" alt="" width="414" height="266" loading="lazy"
                             class="component-triple-set__card-image">
                        <div class="component-triple-set__card-content">
                            <div class="component-triple-set__card-title">
                                Плитный
                                фундамент
                            </div>
                            <div class="component-triple-set__card-description">
                                Данный фундамент – оптимальный вариант для дальнейшего возведения дома из бревна на
                                грунтах,
                                не склонных к пучению и средним положением грунтовых вод.
                            </div>
                        </div>
                        <div class="component-triple-set__card-footer">
                            от <span>6000</span> руб/м³
                        </div>
                    </div>
                </div>
                            <div class="col-xs-12 col-md-4">
                    <div class="component-triple-set__card">
                        <img src="/test/images/component-triple-set-1.png" alt="" width="414" height="266" loading="lazy"
                             class="component-triple-set__card-image">
                        <div class="component-triple-set__card-content">
                            <div class="component-triple-set__card-title">
                                Плитный
                                фундамент
                            </div>
                            <div class="component-triple-set__card-description">
                                Данный фундамент – оптимальный вариант для дальнейшего возведения дома из бревна на
                                грунтах,
                                не склонных к пучению и средним положением грунтовых вод.
                            </div>
                        </div>
                        <div class="component-triple-set__card-footer">
                            от <span>6000</span> руб/м³
                        </div>
                    </div>
                </div>
                            <div class="col-xs-12 col-md-4">
                    <div class="component-triple-set__card">
                        <img src="/test/images/component-triple-set-1.png" alt="" width="414" height="266" loading="lazy"
                             class="component-triple-set__card-image">
                        <div class="component-triple-set__card-content">
                            <div class="component-triple-set__card-title">
                                Плитный
                                фундамент
                            </div>
                            <div class="component-triple-set__card-description">
                                Данный фундамент – оптимальный вариант для дальнейшего возведения дома из бревна на
                                грунтах,
                                не склонных к пучению и средним положением грунтовых вод.
                            </div>
                        </div>
                        <div class="component-triple-set__card-footer">
                            от <span>6000</span> руб/м³
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</div>