<div class="component-video-reviews">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                    <div class="component-video-reviews__card">
                        <img src="/test/images/gallery-3.png" alt="" width="642" height="377" loading="lazy"
                             class="component-video-reviews__card-image">
                        <div class="component-video-reviews__card-overlow"></div>
                        <div class="component-video-reviews__card-content">
                            <div class="component-video-reviews__card-title">
                                Отзыв о доме от компании Россруб в пару строчек текста
                            </div>
                                                            <button class="button button--white button--outline button--medium">
                                    Подробнее о проекте
                                </button>
                                                    </div>
                    </div>
                </div>
                            <div class="col-xs-12 col-sm-6">
                    <div class="component-video-reviews__card">
                        <img src="/test/images/gallery-3.png" alt="" width="642" height="377" loading="lazy"
                             class="component-video-reviews__card-image">
                        <div class="component-video-reviews__card-overlow"></div>
                        <div class="component-video-reviews__card-content">
                            <div class="component-video-reviews__card-title">
                                Отзыв о доме от компании Россруб в пару строчек текста
                            </div>
                                                    </div>
                    </div>
                </div>
                            <div class="col-xs-12 col-sm-6">
                    <div class="component-video-reviews__card">
                        <img src="/test/images/gallery-3.png" alt="" width="642" height="377" loading="lazy"
                             class="component-video-reviews__card-image">
                        <div class="component-video-reviews__card-overlow"></div>
                        <div class="component-video-reviews__card-content">
                            <div class="component-video-reviews__card-title">
                                Отзыв о доме от компании Россруб в пару строчек текста
                            </div>
                                                    </div>
                    </div>
                </div>
                    </div>
    </div>
</div>