<div class="component-gallery">
    <div class="container">
        <div id="slider" class="f-carousel">
                                                <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-1.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-2.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-3.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-4.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-5.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                                                <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-1.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-2.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-3.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-4.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-5.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                                                <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-1.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-2.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-3.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-4.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                                    <div class="component-gallery__slide f-carousel__slide">
                        <img src="/test/images/gallery-5.png" alt="" data-fancybox="gallery">
                        <div class="component-gallery__slide-action">
                            <svg class="">
                                <use xlink:href="/test/images/icons.svg#zoom"></use>
                            </svg>
                            <span>
                                Увеличить
                            </span>
                        </div>
                    </div>
                            
        </div>
    </div>
</div>