<div class="component-questions-first component-questions-first">
    <div class="container">
        <div class="component-questions-first__container">
            <div class="component-questions-first__content">
                <div class="component-questions-first__question">
                    ?
                </div>
                <div class="component-questions-first__text">
                    <div class="component-questions-first__title">
                        Остались вопросы? Позвоните нам по телефону: <a href="">+7 (343) 202 00 78</a>
                    </div>
                    <div class="component-questions-first__description">
                        Либо закажите обратный звонок... Мы свяжемся и все расскажем. Без навязывания услуг
                    </div>
                </div>
            </div>
            <button class="button button--primary" style="padding: 14px 30px;">
                Заказать обратный звонок
            </button>
        </div>
    </div>
</div>

<div class="component-questions-second">
    <div class="container">
        <div class="component-questions-second__container">
            <div class="component-questions-second__content">
                <div class="component-questions-second__title">
                    Позвоните нам по телефону: <a href="">+7 (343) 202 00 78</a>
                </div>
                <div class="component-questions-second__description">
                    и мы подберем необходимый для Вас проект в ближайшее время
                </div>
            </div>
            <button class="button button--primary button--outline" style="padding: 16px 56px;">
                Заказать звонок
            </button>
        </div>
    </div>
</div>
<div class="component-questions-third">
    <div class="container">
        <div class="component-questions-third__container">
            <div class="component-questions-third__content">
                <div class="component-questions-third__title">
                    Не понимаете, как рассчитать стоимость?
                </div>
                <div class="component-questions-third__description">
                    Оформите заявку. Мы свяжемся и все расскажем. Без навязывания наших услуг.
                </div>
            </div>
            <button class="button button--white" style="padding: 16px 85px;">
                Задать вопрос
            </button>
        </div>
    </div>
</div>