<div class="component-main-banner">
    <picture>
        <source srcset="/images/main_banner.webp" type="image/webp">
        <img src="/images/main_banner.png" alt="" width="1920" height="756" class="component-main-banner__background">
    </picture>
    <div class="container flex">
        <div class="component-main-banner__container">
            <h1 class="component-main-banner__title">
                <span class="component-main-banner__title component-main-banner__title--accent">
                    Строительство домов
                </span> и бань из бревна
                <span class="component-main-banner__title component-main-banner__title--accent">
                    "под ключ"
                </span> в Екатеринбурге
            </h1>
            <ul class="component-main-banner__list">
                <li><span>Гарантируем надежность</span> - 20 лет на рынке</li>
                <li>
                    <span>Экономим до 20% бюджета</span> - закупая напрямую у поставщиков
                </li>
                <li>
                    <span>Бесплатно</span> поддерживаем сданный объекта <span>в первые 2 года</span>
                </li>
            </ul>
            <p class="component-main-banner__description">
                Немного описания Пуанта, следовательно, выстраивает сонорна текст
                период. Аллюзийно-полистилистическая композиция сонорна.
            </p>
            <div class="component-main-banner__actions">
                <button class="button button--primary button--big button--semibold">
                    Заказать сруб
                </button>
                <button class="button button--primary button--outline button--big button--semibold">
                    Рассчитать стоимость
                </button>
            </div>
        </div>
    </div>
</div>