<section class="component-licences">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                    <div class="component-licences-container" data-fancybox="licences"
                         data-src="/test/images/certificate.png">
                        <picture>
                            <img class="component-licences-img" src="/test/images/certificate.png" width="253"
                                 height="355"
                                 alt="сертификат">
                        </picture>
                        <div class="component-licences-text">
                            <p class="component-licences-text_title">
                                Сертификат ПТ 20313
                            </p>

                            <p class="component-licences-text_default">
                                Компания РосСруб имеет документ, подаваемый леспопользователе и содержащий исчерпывающие
                                данные об способах применения лесных ресурсов на 2016-2017 гг.
                            </p>

                            <div class="component-licences-button">
                                <button class="button button--primary button--small">
                                    <svg class="">
                                        <use xlink:href="/test/images/icons.svg#zoom"></use>
                                    </svg>
                                    Запросить&nbsp;сертфиикат
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="col-xs-12 col-lg-6">
                    <div class="component-licences-container" data-fancybox="licences"
                         data-src="/test/images/certificate.png">
                        <picture>
                            <img class="component-licences-img" src="/test/images/certificate.png" width="253"
                                 height="355"
                                 alt="сертификат">
                        </picture>
                        <div class="component-licences-text">
                            <p class="component-licences-text_title">
                                Сертификат ПТ 20313
                            </p>

                            <p class="component-licences-text_default">
                                Компания РосСруб имеет документ, подаваемый леспопользователе и содержащий исчерпывающие
                                данные об способах применения лесных ресурсов на 2016-2017 гг.
                            </p>

                            <div class="component-licences-button">
                                <button class="button button--primary button--small">
                                    <svg class="">
                                        <use xlink:href="/test/images/icons.svg#zoom"></use>
                                    </svg>
                                    Запросить&nbsp;сертфиикат
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
    </div>
</section>
