<section class="component-reviews">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-sm">
                <h2 class="h2">
                    Отзывы о нашей компании
                </h2>
                <p class="subtitle">
                    Оставьте свой отзыв о нас на популярных ресурсах, или посмотрите уже написанные
                </p>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="#" class="button button--primary button--big">
                    Смотреть отзывы
                </a>
            </div>
        </div>
        <div class="component-reviews__list row">
                            <div class="col-xs-12 col-md-4">
                    <a href="#" title="Yandex Maps" class="component-reviews__card">
                        <img src="/images/yandex-maps.png" alt="Yandex Maps">
                    </a>
                </div>
                            <div class="col-xs-12 col-md-4">
                    <a href="#" title="Google Maps" class="component-reviews__card">
                        <img src="/images/google-maps.png" alt="Google Maps">
                    </a>
                </div>
                            <div class="col-xs-12 col-md-4">
                    <a href="#" title="Flamp" class="component-reviews__card">
                        <img src="/images/flamp.png" alt="Flamp">
                    </a>
                </div>
                    </div>
    </div>
</section>