<div class="component-services-list">
    <div class="container">
        <h2 class="h2">
            Наши услуги
        </h2>
        <p class="subtitle">
            Занимаемся строительством деревянных домов и бань из бревна “под ключ” в Свердловской области
        </p>
        <div class="row component-services-list__cards">
            <div class="col-xs-12 col-md-6">
                <div class="component-services-list__card component-services-list__card--blue">
                    <img src="/images/services-list-1.png" width="300" height="250" loading="lazy" alt=""
                         class="component-services-list__card-background">
                    <div class="component-services-list__card-content">
                        <div class="component-services-list__card-title">
                            Строительство <span
                                    class="component-services-list__card-title component-services-list__card-title--accent">домов</span>
                            и
                            <span class="component-services-list__card-title component-services-list__card-title--accent">
                                бань</span> из бревна
                        </div>
                        <ul class="component-services-list__card-list">
                            <li>Проектирование домов из бревна</li>
                            <li>Монтаж фундамента</li>
                            <li>Кровельные работы</li>
                            <li>Покраска деревянного дома</li>
                            <li>Отделочные работы</li>
                            <li>Электромонтажные работы</li>
                            <li>Монтаж водосточной системы</li>
                            <li>Ремонт и обслуживание кровли</li>
                        </ul>
                    </div>
                </div>
                <div class="component-services-list__card component-services-list__card--green">
                    <img src="/images/services-list-2.png" width="162" height="124" loading="lazy" alt=""
                         class="component-services-list__card-background">
                    <div class="component-services-list__card-content">
                        <div class="component-services-list__card-title">
                            Каталог готовых проектов
                        </div>
                        <ul class="component-services-list__card-list">
                            <li>Готовые проекты домов</li>
                            <li>Готовые проекты бань</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="component-services-list__card component-services-list__card--orange">
                    <img src="/images/services-list-3.png" width="500" height="290" loading="lazy" alt=""
                         class="component-services-list__card-background">
                    <div class="component-services-list__card-content">
                        <div class="component-services-list__card-title">
                            Услуги для домов и бань
                        </div>
                        <ul class="component-services-list__card-list">
                            <li>Проектирование домов из бревна</li>
                            <li>Конопатка сруба в Екатеринбурге</li>
                            <li>Покраска деревянного дома в Екатеринбурге</li>
                            <li>Изготовление и монтаж лестниц</li>
                            <li>Ремонт и обслуживание кровли</li>
                            <li>Монтаж водосточной системы</li>
                            <li>Электромонтажные работы</li>
                            <li>Монтаж фундамента</li>
                            <li>Отделочные работы</li>
                            <li>Кровельные работы</li>
                            <li>Постройка беседок</li>
                            <li>Шлифовка сруба</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>