<div class="component-form">
    <img src="/images/component_form__background.png" alt="" width="1920" height="532" loading="lazy"
         class="component-form__background">
    <div class="container relative">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="component-form__content">
                    <div class="component-form__title">
                        Нужна консультация?
                    </div>
                    <div class="component-form__description">
                        Подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и
                        подготовим индивидуальное предложение!
                    </div>
                    <a href="#" class="component-form__number">
                        +7 (343) 202 00 78
                    </a>
                    <div class="component-form__description component-form__description--last">
                        Или оставьте заявку в форме, и мы с Вами свяжемся <span>в ближайшее время!</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <label class="component-input">
                            <span class="component-input__label">
                                Имя
                            </span>
                            <input type="text" placeholder="Василий" class="component-input__input">
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <label class="component-input">
                            <span class="component-input__label">
                                Телефон
                            </span>
                            <input type="text" placeholder="8 800 555 35 35" class="component-input__input">
                        </label>
                    </div>
                    <div class="col-xs-12">
                        <label class="component-textarea">
                            <textarea rows="4" placeholder="Напишите что-нибудь..."
                                      class="component-textarea__textarea"></textarea>
                        </label>
                    </div>
                    <div class="col-xs-12" style="margin-top: 24px;">
                        <label class="component-checkbox">
                            <input type="checkbox" checked class="component-checkbox__checkbox">
                            <span class="component-checkbox__label">
                                Я согласен на обработку Персональных данных
                            </span>
                        </label>
                    </div>
                    <div class="col-xs-12" style="margin-top: 24px;">
                        <button class="button button--white" style="padding: 14px 75px;">
                            Задать вопрос
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>