<div class="component-banner" style="margin-top: 100px;">
    <div class="container">
        <div class="component-banner__container">
            <img src="/test/images/component-banner.png" alt="" width="1297" height="463" loading="lazy"
                 class="component-banner__image">

            <img src="/test/images/component-banner__decoration-1.png" alt="" width="185" height="157" loading="lazy"
                 class="component-banner__decoration component-banner__decoration--1">
            <img src="/test/images/component-banner__decoration-2.png" alt="" width="206" height="197" loading="lazy"
                 class="component-banner__decoration component-banner__decoration--2">
            <img src="/test/images/component-banner__decoration-3.png" alt="" width="168" height="184" loading="lazy"
                 class="component-banner__decoration component-banner__decoration--3">
            <div class="row relative">
                <div class="col-xs-12 col-md-6">
                    <h2 class="h2">
                        Консультация рубщика прямо по телефону
                    </h2>
                    <p class="component-banner__description">
                        Пуанта, следовательно, выстраивает громкостнoй прогрессийный период.
                        Аллюзийно-полистилистическая композиция сонорна. Фаза mezzo forte продолжает хамбакер.
                        Аллюзийно-полистилистическая композиция сонорна.
                    </p>
                    <div class="component-banner__actions">
                        <button class="button button--primary button--big button--semibold">
                            Заказать сруб
                        </button>
                        <button class="button button--white button--big button--semibold">
                            Рассчитать стоимость
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>