<div class="component_numbers">
    <div class="container">
        <h2 class="h2">
            Преимущества деревянных домов из рубленного бревна
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="content">
                    <p>
                        Дом из бревна — традиционная русская технология. Хорошо подогнанная древесина уберегает от
                        морозов надежнее кирпича, поэтому наши срубы
                    </p>
                    <h4>
                        Преимущества домов нашего производства:
                    </h4>
                    <ul class="inside">
                        <li>
                            <span class="font-bold">
                                Низкая теплопроводность
                            </span>
                            <p>
                                Благодаря этому свойству зимой постройка долго сохраняет тепло, а летом остается
                                прохладной
                                даже в жару.
                            </p>
                        </li>
                        <li>
                            <span class="font-bold">Воздухообмен</span>
                            <p>
                                Дома из бревна пропускают воздух, в них никогда не бывает душно, влажно или слишком
                                сухо.

                            </p>
                        </li>
                        <li>
                            <span class="font-bold">Ручная обработка поверхности</span>
                            <p>
                                На производстве срезается всего 4 мм коры, поэтому у бревен остается естественная
                                защита.

                            </p>
                        </li>
                        <li>
                            <span class="font-bold">Легкий материал</span>
                            <p>
                                Практически любой фундамент выдерживает сруб из древесины хвойных пород

                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="component_numbers__card">
                            <div class="component_numbers__card-number">105</div>
                            <div class="component_numbers__card-description">Построенных домов</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="component_numbers__card">
                            <div class="component_numbers__card-number">7</div>
                            <div class="component_numbers__card-description">Лет надежной работы</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="component_numbers__card">
                            <div class="component_numbers__card-number">6
                            </div>
                            <div class="component_numbers__card-description">Регионов строительства</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="component_numbers__card">
                            <div class="component_numbers__card-number">64</div>
                            <div class="component_numbers__card-description">Разработанных проектов</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <p>
                Купить деревянный дом в Екатеринбурге можно у нас. Мы привлекаем ответственных специалистов на каждом этапе возведения, не задерживаем сдачу проекта и точно просчитываем расходы. <span class="font-bold"> С нами вы сэкономите до 18% на строительстве. Позвоните нам, чтобы узнать все интересующие детали.</span>
            </p>
        </div>
    </div>
</div>