<div class="component-services-grid">
    <div class="container">
        <div class="row">
                            <div class="col-xs-12  col-sm-6">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12  col-sm-6">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12  col-sm-6 col-md-4">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12  col-sm-6 col-md-4">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12  col-sm-6 col-md-4">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12  col-sm-6 col-md-4">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                            <div class="col-xs-12  col-sm-6 col-md-4">
                    <a href="#" class="component-services-grid__card">
                        <img src="/test/images/gallery-4.png" width="640" height="340" alt=""
                             class="component-services-grid__card-image">
                        <div class="component-services-grid__card-title">
                            Срубы домов
                        </div>
                    </a>
                </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="component-services-grid__calculate-card">
                    <img src="/test/images/calculate-card-background.png" alt="" width="425" height="262" loading="lazy"
                         class="component-services-grid__calculate-card-background">
                    <div class="component-services-grid__calculate-card-content">
                        <div class="component-services-grid__calculate-card-title">
                            Калькулятор расчета стоимости
                        </div>
                        <div class="component-services-grid__calculate-card-description">
                            Для вашего объекта
                        </div>
                        <button class="button button--primary button--big button--outline">
                            Рассчитать стоимость
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>