<div class="component-contacts">
    <div class="container">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-8">
                <h2 class="h2">
                    Как нас найти
                </h2>
                <p class="content">
                    Хотите заказать проект дома мечты, рассчитать стоимость реализации уже существующего или просто
                    пообщаться и задать вопрос?
                    Нас можно найти тут...
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="component-contacts__card component-contacts__card--accent">
                    <div class="component-contacts__card-icon-container">
                        <svg class="component-contacts__card-icon">
                            <use xlink:href="/test/images/icons.svg#clock"></use>
                        </svg>
                    </div>
                    <div class="component-contacts__card-content">
                        <div class="component-contacts__card-title">
                            Режим работы нашего офиса
                        </div>
                        <div class="component-contacts__card-description">
                            ПН–ВС: 9:00–19:00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="component-contacts__map" style="margin-top: 40px;">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A03df941e31367e431d43e32fc7a515f5222b1f9d0b95104e058fbbb8294630f2&amp;source=constructor&amp;scroll=false"
                    frameborder="0" allowfullscreen="true" width="100%" height="400px" style="display: block;"></iframe>
        </div>
        <div class="component-contacts__list" style="margin-top: 40px;">
            <div class="component-contacts__card">
                <div class="component-contacts__card-icon-container">
                    <svg class="component-contacts__card-icon">
                        <use xlink:href="/test/images/icons.svg#phone"></use>
                    </svg>
                </div>
                <div class="component-contacts__card-content">
                    <div class="component-contacts__card-title">
                        Телефон
                    </div>
                    <a href="#" class="component-contacts__card-description">
                        +7 (343)-202-00-78
                    </a>
                </div>
            </div>
            <div class="component-contacts__hr"></div>
            <div class="component-contacts__card">
                <div class="component-contacts__card-icon-container">
                    <svg class="component-contacts__card-icon">
                        <use xlink:href="/test/images/icons.svg#place"></use>
                    </svg>
                </div>
                <div class="component-contacts__card-content">
                    <div class="component-contacts__card-title">
                        Адрес
                    </div>
                    <div class="component-contacts__card-description">
                        Екатеринбург, ул.Данилы Зверева, д.23/1
                    </div>
                </div>
            </div>
            <div class="component-contacts__hr"></div>
            <div class="component-contacts__card">
                <div class="component-contacts__card-icon-container">
                    <svg class="component-contacts__card-icon">
                        <use xlink:href="/test/images/icons.svg#mail"></use>
                    </svg>
                </div>
                <div class="component-contacts__card-content">
                    <div class="component-contacts__card-title">
                        E-mail
                    </div>
                    <div class="component-contacts__card-description">
                        uralsrub5@gmail.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>