

<div id="modal-selected-city" class="modal-selected-city" style="display:none;">
    <div class="container">
        <h2 class="h3">
            Выберите ваш город
        </h2>
        <div class="row" style="margin-top: 40px;">
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Алапаевск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Верхотурье
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Качканар
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Нижний Тагил
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Серов
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Арамиль
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Волчанск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Кировград
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Нижняя Салда
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Среднеуральск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Артёмовский
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Дегтярск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Краснотурьинск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Нижняя Тура
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Сухой Лог
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Асбест
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Екатеринбург
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Красноуральск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Новая Ляля
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Сысерть
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Берёзовский
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Заречный
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Красноуфимск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Новоуральск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Тавда
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Богданович
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Ивдель
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Кушва
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Первоуральск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Талица
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Верхний Тагил
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Ирбит
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Лесной
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Полевской
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Туринск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Верхняя Пышма
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Каменск-Уральский
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Михайловск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Ревда
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Верхняя Салда
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Камышлов
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Невьянск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Реж
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Верхняя Тура
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Карпинск
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Нижние Серги
                    </a>
                </div>
                            <div class="col-xs-6 col-sm-2">
                    <a href="#" class="modal-selected-city__link">
                        Североуральск
                    </a>
                </div>
                    </div>
    </div>
</div>