<div id="modal-feedback" class="modal-feedback" style="display: none; max-width: 640px;">
    <div class="modal-feedback__content">
        <h2 class="h2">
            Заказать звонок
        </h2>
        <p class="modal-feedback__description">
            Оставьте заявку и наш специалист обязательно свяжется с вами в ближайшее время!
        </p>
        <form class="modal-feedback__form">
            <label class="component-input">
            <span class="component-input__label">
                Имя
            </span>
                <input type="text" placeholder="Василий" class="component-input__input">
            </label>
            <label class="component-input">
                <span class="component-input__label">
                    Телефон
                </span>
                <input type="text" placeholder="8 800 555 35 35" class="component-input__input">
            </label>
            <label class="component-textarea">
                            <textarea rows="4" placeholder="Напишите что-нибудь..."
                                      class="component-textarea__textarea"></textarea>
            </label>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button class="button button--primary button--big button--semibold">
                        Оформить заказ
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="modal-feedback__accept">
                        Нажимая на кнопку, Вы даёте свое согласие на обработку Персональных данных
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>